<div id="body-pd">
    <p>Olá <%= current_user.name %>!</p>
    <% if current_user.role == 'admin'%>
    <p>Admin!</p>
    <% end %>
    <% if current_user.role == 'client_admin' or current_user.role == 'client' %>
    <p>Admin Cliente</p>
    <p>Cliente</p>
    <%= link_to @company.corporate_name, @company %>
    <% end %>

</div>