<div id="body-pd">
    <p>Olá <%= current_user.name %>!</p>
    <% if current_user.role == 'admin'%>
    <p>Admin!</p>
    <% end %>
    <% if current_user.role == 'client'%>
    <p>Cliente</p>
    <% end %>
    <% if current_user.role == 'client_admin'%>
    <p>Admin Cliente</p>
    <%
=begin%>
    <p><%=current_user.company.corporate_name%></p>
    <%
=end%>
    <% end %>

</div>