<h1 class='display-3 text-center m-5 mb-5'>Criar um metodo de pagamento</h1>
<div class="container">
    <div class="row mx-auto d-flex justify-content-center">
        <div class="col-6 ">
            <%= render 'form', payment_method: @payment_method, button_text: 'Concluir' %>
        </div>
    </div>
</div>