<h1>Recibo</h1>
<h3>Data de vencimento da Cobrança: <%= @billing.due_date%> </h3>
<h3>Data de Efetiva de Pagamento: <%= @billing.status_change_date %> </h3>
<h3>Código de Autorização: <%= @billing.autorization_code %> </h3>