<h1 class='display-3 text-center m-5 mb-5'>Novo Produto</h1>
<div class="container">
    <div class="row mx-auto d-flex justify-content-center">
        <div class="col-6 ">
            <%= render "form" , company: @company, product: @product %>
        </div>
    </div>
</div>